@charset "UTF-8";
 

/*telas de impressão*/

*{
    margin: 0px;
    padding: 0px;
 }
 html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1,5em;
    line-height: 1,5em;
 }
  menu{
    display: none;
  }
  article{
    width: 100%;
  }
  article::after{ content: este rtigo foi feito;

  }